## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Discuss different types of data structures and how to manipulate them
- Demonstrate how to read and write data from/to files
- Explain the use of conditional statements and loops
- Show examples of functions and their use in Python

Some of the popular languages that Data Scientists use are:

<ol>
    <li>Python</li>
    <li>R</li>
    <li>Julia</li>

Some of the commonly used libraries used by Data Scientists include:

<ol>
    <li>Pandas</li>
    <li>Numpy</li>
    <li>Matplotlib</li>
</ol>

| Data Science Tools |
|-----------------------|
| Jupyter Notebook |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author

Natasha Estrada